$color_1: white;
$color_2: #000;
$color_3: #fff;
$color_4: #000000;
$color_5: red;
$font-family_1: "Noto Kufi Arabic", sans-serif;
$background-color_1: #000000;
$background-color_2: rgba(33, 33, 33, 0);
$background-color_3: #f5f5f5;
$background-color_4: #e1e1e1;
$background-color_5: #fff;

// @font-face {
//     font-family: "ArabicFont";
//     src: url("../fonts/static/NotoSansArabic_Condensed-Thin.ttf")
//         format("truetype");
//     /* Add additional font formats for wider compatibility */
// }

@import "https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@600&display=swap"); // font-family: 'Noto Sans Arabic', sans-serif;

* {
    font-family: "Noto Sans Arabic", sans-serif;
}

@keyframes div {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes btn {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(100%);
    }
}
@keyframes updateHover {
    0% {
        transform: translateX(50%) rotate(0deg);
    }
    100% {
        transform: translateX(50%) rotate(-360deg);
    }
}
@keyframes removeHover {
    0%,
    100% {
        transform: translateX(80%) rotate(-20deg);
    }
    50% {
        transform: translateX(80%) rotate(20deg);
    }
}

// $color_2: #666666;
// $color_3: #333;
$background-color: #3c3e43;

@keyframes progress {
    100% {
        right: 100%;
    }
}
.toast {
    z-index: 100;
    font-weight: bolder;
    position: fixed;
    top: 5rem;
    left: 1rem;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.351);
    overflow: hidden;
    transform: translateX(-150%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    color: #000;
    .toast-content {
        display: flex;
        align-items: center;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        background-color: rgb(172, 7, 7);
        border-radius: 50%;
        // opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: $background-color;
        }
    }
}
.toast.active {
    transform: translateX(0%);
}
.toast-content {
    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: $background-color;
        color: $color_1;
        font-size: 20px;
        border-radius: 50%;
    }
    .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
}
.message {
    .text {
        font-size: 1.3rem;
        font-weight: 400;
        color: $color_2;
    }
    .text.text-1 {
        font-weight: 600;
        color: $color_3;
    }
}
.progress.active {
    &:before {
        animation: progress 5s linear forwards;
    }
}

body {
    margin: 0;
    direction: rtl;
    flex-direction: column;
    display: flex;
}
tr,
td,
th {
    border: solid 1px #000;
    text-align: center;
}

.btn {
    height: 60px;
    width: 300px;
    background-color: $background-color_1;
    color: $color_1;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    border: 2px solid #000;
    &:hover {
        background-color: $background-color_2;
        color: $color_2;
    }
}
.inpt {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1.5rem 0.5rem;
    font-size: 1rem;
    outline: none;
}
header {
    width: 100%;
    height: 50px;
    background-color: $background-color_1;
    display: flex;
    align-items: center;
    color: $color_3;
    div {
        padding: 0 1rem;
        font-size: 1.5rem;
        div {
            cursor: pointer;
            display: inline-block;
        }
    }
}
.crud {
    position: relative;
    width: 80rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    .open {
        display: flex;
    }
    section {
        width: 100%;
        gap: 2rem;
        display: none;
        flex-direction: column;
        position: relative;
        .head {
            box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.165);
            padding: 0 1rem;
            border-radius: 12px;
            width: 100%;
            background-color: $background-color_3;
        }
        .body {
            width: 100%;
            height: 24rem;
            gap: 3rem;
            display: flex;
            position: relative;
            .inputs {
                box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.351);
                position: fixed;
                width: 20rem;
                background-color: $background-color_3;
                padding: 1.2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-radius: 10px;
                input {
                    height: 2.7rem;
                    font-size: 1.3rem;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1rem;
                    button {
                        font-size: 1.3rem;
                        width: 100%;
                    }
                }
            }
            .outputs {
                width: 100%;
                height: 100%;
                .search {
                    width: 100%;
                    div {
                        width: 100%;
                        height: 6rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 0 0.7rem;
                        input {
                            height: 3.5rem;
                        }
                    }
                }
                .nav {
                    background-color: $background-color_4;
                    width: 100%;
                    height: 4rem;
                    padding: 0 1rem;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.1rem;
                    span {
                        width: 80%;
                    }
                }
                main {
                    width: 100%;
                    margin-bottom: 10rem;
                    div {
                        cursor: pointer;
                        background-color: $background-color_3;
                        width: 100%;
                        height: 5rem;
                        padding: 0 1rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: 1.1rem;
                        animation: div 0.5s linear;
                        position: relative;
                        &:hover {
                            .removeButton {
                                animation: btn 0.2s ease-in-out;
                                display: block;
                            }
                        }
                        span {
                            width: 80%;
                        }
                        .updateButton {
                            margin: 0.5rem;
                            font-size: 1.3rem;
                            border: none;
                            color: $color_4;
                            position: absolute;
                            left: 0;
                            border-radius: 12px;
                            cursor: pointer;
                        }
                        .removeButton {
                            display: none;
                            font-size: 2rem;
                            border: none;
                            background: none;
                            color: $color_5;
                            position: absolute;
                            right: 0;
                            transform: translateX(80%);
                            padding: 0.5rem;
                            cursor: pointer;
                            &:hover {
                                animation: removeHover 0.5s linear infinite;
                            }
                        }
                    }
                    .d {
                        background-color: $background-color_5;
                    }
                }
            }
            .btns {
                position: fixed;
                border-radius: 12px;
                width: 20.6rem;
                height: 15rem;
                box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.351);
                transform: translateY(150%);
                background-color: $background-color_3;
                display: none;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                flex-direction: column;
                font-size: 1.3rem;
                button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
